@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

html {
    height: 100%;
}

body {
    background-color: #5a6300;
    font-family: wallpoet;
    min-height: 100%;
    position: relative;
}

.fixed-top.scrolled .header {
    background-color: #ffffff !important;
    transition: background-color 200ms linear;
}

.fixed-top .header {
    background-color: #4b4b4b;
}

.fixed-top.scrolled .change-toggler1 {
    filter: contrast(0%);
    transition: filter 200ms linear;
}

.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0px;
}

.header {
    height: 60px;
    background-color: #4b4b4b;
}

.navbar {
    background-color: #4b4b4b;
}

.logo-header {
    width: 60px;
    margin-left: 10px;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: 10px;
}

.navbar-collapse {
    background-color: #4b4b4b;
}

.nav-link {
    color: #ffffff;
    padding-left: 10px !important;
    border-bottom: #ffffff solid 5px;
    font-size: 14px;
    transition: 200ms;
}

.nav-link:hover {
    color: #5a6300;
}

.carousel {
    padding-top: 60px;
    margin-bottom: 40px;
}

.textarea {
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 12px;
    padding: 20px;
    line-height: 12px;
    text-align: center;
}

.txtareatitle {
    font-size: 18px;
    text-align: center;
    border-bottom: #5a6300 solid 5px;
    display: inline-block;
}

.subtitle {
    text-align: center;
    border-bottom: #4b4b4b solid 5px;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-p {
    margin-bottom: 0px;
    text-align: left;
}

.center-txt {
    text-align: center;
}

footer {
    background-color: #4b4b4b;
    color: #ffffff;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-text {
    font-size: 10px;
    text-align: center;
}

.credits {
    font-size: 7px;
    text-align: center;
}

.white-link {
    color: #ffffff !important;
    text-decoration: underline;
    transition: 200ms;
}

.white-link:hover {
    color: #5a6300 !important;
    cursor: pointer;
}

.big-title {
    text-align: center;
    border-bottom: #4b4b4b solid 5px;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    padding-top: 60px;
}

.card {
    margin: 15px;
    background-color: #4b4b4b;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

.card-title {
    text-align: center;
    font-size: 18px;
    border-bottom: #5a6300 solid 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
}

.card-title2 {
    text-align: center;
    font-size: 15px;
    border-bottom: #5a6300 solid 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
}

.card-text {
    font-size: 12px;
    line-height: 12px;
}

.vid-size {
    padding-top: 50%;
    position: relative;
    margin-bottom: 10px;
}

.vid-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rules-list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.contact-form {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}

.input-form {
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    border-bottom: #4b4b4b solid 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 200ms;
}

.input-form:hover {
    color: #4b4b4b;
}

.question-box {
    height: 60px;
}

.submit-btn {
    background-color: #4b4b4b;
    color: #ffffff;
    border-style: none;
    width: 100%;
    transition: 200ms;
}

.submit-btn:hover {
    color: #5a6300;
}

.backhome-btn {
    background-color: #4b4b4b;
    color: #ffffff;
    border-style: none;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.padding-for-footer {
    padding-bottom: 100px;
}

.border-color-table {
    border-color: #5a6300 !important;
}

.table {
    font-size: 10px;
}

.table-dark {
    background-color: #4b4b4b;
}

.member-th {
    text-decoration: underline;
}

.card-messages {
    margin-bottom: 50px;
    border: white solid 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.login-to-home {
    background-color: #4b4b4b;
    padding: 10px;
    margin: 20px;
}

.body-game {
    min-height: 0%;
    position: relative;
    touch-action: pan-y;
}

.padding-for-header-game {
    padding-top: 15px;
}

.game-background {
    position: relative;
}

.background-img {
    width: 100%;
}

.logo-game {
    position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
}

.enemy-stats {
    position: absolute;
    height: 50%;
    width: 30%;
    background-color: rgba(75, 75, 75, 0.50);
    top: 0;
    left: 0;
    padding: 3% 0% 5% 5%;
}

.player-stats {
    position: absolute;
    height: 50%;
    width: 30%;
    background-color: rgba(75, 75, 75, 0.50);
    right: 0;
    top: 0;
    padding: 3% 0% 5% 5%;
}

.stats {
    color: #ffffff;
    font-size: 5px;
    line-height: 5px;
    margin-bottom: 5px;
}

.sniper {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
}

.soldier {
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
}

.middle-button-game {
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.middle-button-game:hover{
    color: #5a6300;
}

.middletop-button-game {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.middletop-button-game:hover{
    color: #5a6300;
}
.middletop-button-game:active {
    background-color: #3b3b3b;
}

.middlerop-button-game:focus {
    outline: none !important;
}

.middle-button-game:active {
    background-color: #3b3b3b;
}

.middle-button-game:focus {
    outline: none !important;
}

.left-button-game {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.left-button-game:hover{
    color: #5a6300;
}

.left-button-game:active {
    background-color: #3b3b3b;
}

.left-button-game:focus {
    outline: none !important;
}

.right-button-game {
    position: absolute;
    top: 40%;
    right: 30%;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.right-button-game:hover{
    color: #5a6300;
}

.right-button-game:active {
    background-color: #3b3b3b;
}

.right-button-game:focus {
    outline: none !important;
}

.finish {
    position: absolute;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.finish:hover{
    color: #5a6300;
}

.finish:active {
    background-color: #3b3b3b;
}

.finish:focus {
    outline: none !important;
}

.lefttop-button-game {
    position: absolute;
    top: 30%;
    left: 30%;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.lefttop-button-game:hover{
    color: #5a6300;
}

.lefttop-button-game:active {
    background-color: #3b3b3b;
}

.lefttop-button-game:focus {
    outline: none !important;
}

.righttop-button-game {
    position: absolute;
    top: 30%;
    right: 30%;
    color: #ffffff;
    font-size: 7px;
    background-color: #4b4b4b;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    line-height: 5px;
}
.righttop-button-game:hover{
    color: #5a6300;
}

.righttop-button-game:active {
    background-color: #3b3b3b;
}

.righttop-button-game:focus {
    outline: none !important;
}

.currency {
    position: absolute;
    top: 5%;
    right: 5%;
}

.dogtag-loot {
    position: absolute;
    height: 5%;
}

.dogtag-currency {
    position: absolute;
    height: 80%;
}

.upgrade1 {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 5%;
}

.upgrade2 {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 5%;
}

.upgrade3 {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 5%;
}

.upgrade4 {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 5%;
}

.price {
    position: absolute;
    height: 100%;
}

.delete-btn {
    background-color: #5a6300;
    color: #ffffff;
    border: #ffffff solid 1px;
    transition: 200ms;
}

.label-delete {
    font-size: 9px;
}

.delete-btn:hover {
    background-color: #4b4b4b;
}

.custom-padding-game-form {
    padding-bottom: 20px;
}
.custom-padding-join-discord{
    padding-bottom: 20px;
}

::placeholder {
    opacity: 1;
}

.hidden-on-mobile-tablet {
    display: none;
}

.underline {
    text-decoration: underline;
}
.reset-btn{
    background-color: #5a6300;
    border: none;
    color: #ffffff;
    transition: 200ms;
}
.reset-btn:hover{
    background-color: #ffffff;
    color: #5a6300;
}

.break {
    display: block;
}

/*tablet*/
@media (min-width: 765px) and (max-width: 991px) {
    .textarea {
        font-size: 29px;
        line-height: 29px;
        margin-bottom: 70px;
    }

    .txtareatitle {
        font-size: 44px;
        border-bottom: #5a6300 solid 12px;
    }

    .nav-link {
        padding-left: 20px !important;
        font-size: 24px;
    }

    footer {
        height: 144px;
    }

    .padding-for-footer {
        padding-bottom: 150px;
    }

    .footer-text {
        font-size: 24px;
    }

    .credits {
        font-size: 17px;
    }

    .big-title {
        font-size: 52px;
        border-bottom: #4b4b4b solid 10px;
    }

    .subtitle {
        font-size: 52px;
        border-bottom: #4b4b4b solid 10px;
    }

    .card-text {
        font-size: 29px;
        line-height: 29px;
    }

    .card-title {
        font-size: 44px;
        border-bottom: #5a6300 solid 15px;
    }

    .rules-list {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 25px;
    }

    .contact-form {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 34px;
        margin-top: -60px;
    }

    .contact-margin-custom {
        margin-top: 0px;
    }

    .input-form {
        border-bottom: #4b4b4b solid 5px;
    }

    .question-box {
        height: 130px;
    }

    .submit-btn {
        margin-bottom: 20px;
    }

    .backhome-btn {
        font-size: 30px;
    }

    .table {
        font-size: 20px;
    }

    .hidden-on-mobile-tablet {
        display: none;
    }

    .stats {
        font-size: 14px;
        line-height: 14px;
    }

    .left-button-game {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 20px;
    }

    .middle-button-game {
        font-size: 15px;
        line-height: 15px;
    }

    .middletop-button-game {
        font-size: 15px;
        line-height: 15px;
    }

    .right-button-game {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 20px;
    }

    .lefttop-button-game {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 20px;
    }

    .righttop-button-game {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 20px;
    }

    .finish {
        font-size: 15px;
        line-height: 15px;
    }

    .card-title2 {
        text-align: center;
        font-size: 25px;
        border-bottom: #5a6300 solid 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: inline-block;
    }

    .label-delete {
        font-size: 18px;
    }

    .custom-padding-game-form {
        padding-top: 60px;
    }
}

/*desktop*/
@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: 10px;
    }

    .nav-link {
        border-bottom: transparent solid 1px;
        font-size: 24px;
        margin-left: 15px !important;
    }

    .fixed-top.scrolled .navbar-collapse {
        background-color: #ffffff;
        transition: background-color 200ms linear;
    }

    .fixed-top.scrolled .nav-link {
        color: #4b4b4b;
    }

    .fixed-top.scrolled .nav-link:hover {
        border-bottom: #5a6300 solid 1px;
    }

    .textarea {
        font-size: 48px;
        line-height: 48px;
    }

    .txtareatitle {
        font-size: 64px;
        border-bottom: #5a6300 solid 12px;
    }

    footer {
        height: 144px;
    }

    .padding-for-footer {
        padding-bottom: 200px;
    }

    .footer-text {
        font-size: 24px;
    }

    .credits {
        font-size: 17px;
    }

    .big-title {
        font-size: 72px;
        border-bottom: #4b4b4b solid 12px;
    }

    .subtitle {
        font-size: 72px;
        border-bottom: #4b4b4b solid 12px;
    }

    .card {
        height: 100%;
    }

    .lg-xl-padding-cards {
        padding-bottom: 50px;
    }

    .lg-xl-padding-cards-login {
        padding-bottom: 30px;
    }

    .card-text {
        font-size: 24px;
        line-height: 24px;
    }

    .card-title {
        font-size: 36px;
        border-bottom: #5a6300 solid 12px;
    }

    .vid-size {
        padding-top: 25%;
    }

    .vid-fit {
        width: 97%;
        height: 97%;
    }

    .vid-right {
        left: auto;
        right: 0;
    }

    .rules-list {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 40px;
    }

    .contact-form {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 36px;
    }

    .input-form {
        border-bottom: #4b4b4b solid 5px;
    }

    .question-box {
        height: 140px;
    }

    .backhome-btn {
        font-size: 48px;
        margin-top: 50px;
    }

    .table {
        font-size: 20px;
        height: 100%;
    }

    .member-img {
        width: 100%;
    }

    .lg-xl-margin-bottom {
        margin-bottom: 40px;
    }

    .hidden-on-mobile-tablet {
        display: flex;
        align-items: end;
    }

    .left-button-game {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 30px;
    }

    .middle-button-game {
        font-size: 22px;
        line-height: 22px;
    }

    .middletop-button-game {
        font-size: 22px;
        line-height: 22px;
    }

    .right-button-game {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 30px;
    }

    .lefttop-button-game {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 30px;
    }

    .righttop-button-game {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 30px;
    }

    .finish {
        font-size: 22px;
        line-height: 22px;
    }

    .stats {
        font-size: 20px;
        line-height: 20px;
    }

    .currency {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .dogtag-currency {
        position: absolute;
        height: 80%;
    }

    .card-title2 {
        text-align: center;
        font-size: 18px;
        border-bottom: #5a6300 solid 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: inline-block;
    }

    .label-delete {
        font-size: 15px;
    }

    .custom-padding-game-form {
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .nav-link {
        font-size: 15px;
    }

    .label-delete {
        font-size: 10px;
    }
}

@media (min-width: 500px) and (max-width: 764px) {
    .stats {
        font-size: 9px;
        line-height: 10px;
        margin: 5px;
    }

    .left-button-game {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
    }

    .lefttop-button-game {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
    }

    .middle-button-game {
        font-size: 10px;
        line-height: 10px;
    }

    .middletop-button-game {
        font-size: 10px;
        line-height: 10px;
    }

    .right-button-game {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
    }

    .righttop-button-game {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
    }

    .finish {
        font-size: 10px;
        line-height: 10px;
    }
}

@media (max-width: 500px) {
    .stats {
        font-size: 5px;
    }

    .left-button-game {
        padding-bottom: 10px;
    }

    .right-button-game {
        padding-bottom: 10px;
    }

    .righttop-button-game {
        padding-bottom: 10px;
    }

    .lefttop-button-game {
        padding-bottom: 10px;
    }
}

@media (max-width: 400px) {

    .left-button-game {
        font-size: 5px;
    }

    .middle-button-game {
        font-size: 5px;
    }

    .middletop-button-game {
        font-size: 5px;
    }

    .right-button-game {
        font-size: 5px;
    }

    .lefttop-button-game {
        font-size: 5px;
    }

    .righttop-button-game {
        font-size: 5px;
    }

    .finish {
        font-size: 5px;
    }
}