@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

html {
    height: 100%;
}

body {
    background-color: #5a6300;
    font-family: wallpoet;
    min-height: 100%;
    position: relative;
}

.fixed-top.scrolled .header {
    background-color: #ffffff !important;
    transition: background-color 200ms linear;
}

.fixed-top .header {
    background-color: #4b4b4b;
}

.fixed-top.scrolled .change-toggler1 {
    filter: contrast(0%);
    transition: filter 200ms linear;
}

.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0px;
}

.header {
    height: 60px;
    background-color: #4b4b4b;
}

.navbar {
    background-color: #4b4b4b;
}

.logo-header {
    width: 60px;
    margin-left: 10px;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: 10px;
}

.navbar-collapse {
    background-color: #4b4b4b;
}

.nav-link {
    color: #ffffff;
    padding-left: 10px !important;
    border-bottom: #ffffff solid 5px;
    font-size: 14px;
    transition: 200ms;
}

.nav-link:hover {
    color: #5a6300;
}

.carousel {
    padding-top: 60px;
    margin-bottom: 40px;
}

.textarea {
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 12px;
    padding: 20px;
    line-height: 12px;
}

.txtareatitle {
    font-size: 18px;
    text-align: center;
    border-bottom: #5a6300 solid 5px;
}

.subtitle {
    text-align: center;
    border-bottom: #4b4b4b solid 5px;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-p {
    margin-bottom: 0px;
}

.center-txt {
    text-align: center;
}

footer {
    background-color: #4b4b4b;
    color: #ffffff;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-text {
    font-size: 10px;
    text-align: center;
}

.credits {
    font-size: 7px;
    text-align: center;
}

.white-link {
    color: #ffffff;
    text-decoration: underline;
    transition: 200ms;
}

.white-link:hover {
    color: #5a6300;
}

.big-title {
    text-align: center;
    border-bottom: #4b4b4b solid 5px;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    padding-top: 60px;
}

.card {
    margin: 15px;
    background-color: #4b4b4b;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

.card-title {
    text-align: center;
    font-size: 18px;
    border-bottom: #5a6300 solid 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.card-text {
    font-size: 12px;
    line-height: 12px;
}

.vid-size {
    padding-top: 50%;
    position: relative;
    margin-bottom: 10px;
}

.vid-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rules-list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.contact-form {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}

.input-form {
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    border-bottom: #4b4b4b solid 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 200ms;
}
.input-form:hover{
    color: #4b4b4b;
}

.question-box {
    height: 60px;
}

.submit-btn {
    background-color: #4b4b4b;
    color: #ffffff;
    border-style: none;
    width: 100%;
    transition: 200ms;
}
.submit-btn:hover{
    color: #5a6300;
}

.backhome-btn {
    background-color: #4b4b4b;
    color: #ffffff;
    border-style: none;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.padding-for-footer {
    padding-bottom: 100px;
}

.border-color-table {
    border-color: #5a6300 !important;
}

.table {
    font-size: 10px;
}

.table-dark {
    background-color: #4b4b4b;
}

.member-th {
    text-decoration: underline;
}

::placeholder {
    opacity: 1;
}

.hidden-on-mobile-tablet {
    display: none;
}

.break {
    display: block;
}

/*tablet*/
@media (min-width: 765px) and (max-width: 991px) {
    .textarea {
        font-size: 29px;
        line-height: 29px;
        margin-bottom: 70px;
    }

    .txtareatitle {
        font-size: 44px;
        border-bottom: #5a6300 solid 12px;
    }

    .nav-link {
        padding-left: 20px !important;
        font-size: 24px;
    }

    footer {
        height: 144px;
    }

    .padding-for-footer {
        padding-bottom: 150px;
    }

    .footer-text {
        font-size: 24px;
    }

    .credits {
        font-size: 17px;
    }

    .big-title {
        font-size: 52px;
        border-bottom: #4b4b4b solid 10px;
    }

    .subtitle {
        font-size: 52px;
        border-bottom: #4b4b4b solid 10px;
    }

    .card-text {
        font-size: 29px;
        line-height: 29px;
    }

    .card-title {
        font-size: 44px;
        border-bottom: #5a6300 solid 15px;
    }

    .rules-list {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 25px;
    }

    .contact-form {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 34px;
        margin-top: -60px;
    }

    .input-form {
        border-bottom: #4b4b4b solid 5px;
    }

    .question-box {
        height: 130px;
    }

    .submit-btn {
        margin-bottom: 20px;
    }

    .backhome-btn {
        font-size: 30px;
    }

    .table {
        font-size: 20px;
    }

    .hidden-on-mobile-tablet {
        display: none;
    }
}

/*desktop*/
@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: 10px;
    }

    .nav-link {
        border-bottom: transparent solid 1px;
        font-size: 24px;
        margin-left: 15px !important;
    }

    .fixed-top.scrolled .navbar-collapse {
        background-color: #ffffff;
        transition: background-color 200ms linear;
    }

    .fixed-top.scrolled .nav-link {
        color: #4b4b4b;
    }

    .fixed-top.scrolled .nav-link:hover {
        border-bottom: #5a6300 solid 1px;
    }

    .textarea {
        font-size: 48px;
        line-height: 48px;
    }

    .txtareatitle {
        font-size: 64px;
        border-bottom: #5a6300 solid 12px;
    }

    footer {
        height: 144px;
    }

    .padding-for-footer {
        padding-bottom: 200px;
    }

    .footer-text {
        font-size: 24px;
    }

    .credits {
        font-size: 17px;
    }

    .big-title {
        font-size: 72px;
        border-bottom: #4b4b4b solid 12px;
    }

    .subtitle {
        font-size: 72px;
        border-bottom: #4b4b4b solid 12px;
    }

    .card {
        height: 100%;
    }

    .lg-xl-padding-cards {
        padding-bottom: 50px;
    }

    .card-text {
        font-size: 24px;
        line-height: 24px;
    }

    .card-title {
        font-size: 36px;
        border-bottom: #5a6300 solid 12px;
    }

    .vid-size {
        padding-top: 25%;
    }

    .vid-fit {
        width: 97%;
        height: 97%;
    }

    .vid-right {
        left: auto;
        right: 0;
    }

    .rules-list {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 40px;
    }

    .contact-form {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 36px;
    }

    .input-form {
        border-bottom: #4b4b4b solid 5px;
    }

    .question-box {
        height: 140px;
    }

    .backhome-btn {
        font-size: 48px;
        margin-top: 50px;
    }

    .table {
        font-size: 20px;
        height: 100%;
    }

    .member-img {
        width: 100%;
    }

    .lg-xl-margin-bottom {
        margin-bottom: 40px;
    }

    .hidden-on-mobile-tablet {
        display: flex;
        align-items: end;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .nav-link {
        font-size: 15px;
    }
}